In [32]:
import numpy as np
import pandas as pd

data_org = pd.read_csv('~/Desktop/JHU/Word/data/test.csv')
data_pred = pd.read_csv('~/Desktop/JHU/Word/256_64_test.csv', header=None)

In [16]:
import numpy as np
import pandas as pd

data_org = pd.read_csv('~/Desktop/JHU/Word/data/train.csv')
data_pred = pd.read_csv('~/Desktop/JHU/Word/256_128_train.csv', header=None)

In [18]:
data_org['empathy'].mean()

3.7338770161290324

In [33]:
data_pred['original'] = data_org['empathy']

In [34]:
data_pred

            0  original
0    3.383890     4.000
1    3.112324     4.000
2    4.705943     3.500
3    5.376753     4.667
4    5.937383     3.833
..        ...       ...
367  2.464678     1.000
368  5.052859     1.000
369  3.585236     1.000
370  3.725290     1.000
371  3.679105     1.000

[372 rows x 2 columns]

In [35]:
data_pred.corr(method='pearson')

                 0  original
0         1.000000  0.254396
original  0.254396  1.000000

In [19]:
data_train.to_csv('./bert-master/data/train1.csv', index=False)

In [20]:
data_train = pd.read_csv('./bert-master/data/train1.csv', )

In [24]:
data_test.to_csv('./bert-master/data/dev1.csv', index=False)