In [30]:
import pandas as pd

data_distil = pd.read_csv('lexicon_V.csv')

In [20]:
data_bert = pd.read_csv('V.csv')

In [31]:
data_distil = data_distil[['Word','Value']]

In [32]:
data_distil = data_distil.rename(columns={'Value':'Distil'})

In [39]:
ffn = pd.read_csv('V_ratings.tsv', sep='\t', index_col=0)

In [41]:
ffn.columns = ['Word', 'FFN']

In [44]:
result = pd.merge(result, ffn, on=['Word'])

In [54]:
meanstar = pd.read_csv('vad_eb_ratings.txt')

In [51]:
meanstar

,feat,avg(vad_eb.V),avg(vad_eb.A),avg(vad_eb.D),avg(vad_eb.V > 3),avg(vad_eb.A > 3),avg(vad_eb.D > 3)
0,!,3.191308,3.653972,3.242150,0.5935,0.9766,0.8037
1,"""",2.947384,3.081023,3.092206,0.3407,0.4804,0.5676
2,#,3.048333,2.825000,3.018333,0.5000,0.0000,0.3333
3,#118,2.500000,2.880000,2.880000,0.0000,0.0000,0.0000
4,#128,3.000000,2.700000,2.900000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...
17309,‘,2.935000,3.229375,3.056875,0.3125,0.6250,0.3750
17310,’,3.030954,3.081985,3.094923,0.4691,0.5077,0.5851
17311,“,2.968766,3.079733,3.086730,0.3168,0.4784,0.5229
17312,”,2.973138,3.081633,3.088597,0.3176,0.4860,0.5319
17313,…,2.953250,3.128000,2.967750,0.3000,0.5500,0.4250

In [55]:
meanstar = meanstar[['feat', 'avg(vad_eb.V)', 'avg(vad_eb.V > 3)']]

In [58]:
meanstar = meanstar.rename(columns={'feat':'Word'})

In [61]:
result = pd.merge(result, meanstar, on=['Word'])

In [62]:
result

,Word,Distil,Bert,Gold,Frequency,Mean Star,FFN,avg(vad_eb.V),avg(vad_eb.V > 3)
0,abusive,-0.000018,-0.000005,2.05,1,1.900000,2.606444,1.900000,0.0
1,foul,-0.000014,-0.000008,3.00,1,1.900000,2.606444,1.900000,0.0
2,widow,-0.000013,-0.000009,2.28,1,1.880000,2.607078,1.880000,0.0
3,suck,-0.000013,-0.000017,3.71,3,1.900000,2.606444,1.900000,0.0
4,cache,-0.000013,-0.000009,4.95,1,2.250000,3.007616,2.250000,0.0
...,...,...,...,...,...,...,...,...,...
4895,escort,0.000007,0.000003,5.35,1,3.800000,3.154940,3.800000,1.0
4896,delighted,0.000008,0.000002,7.74,4,3.552500,5.770362,3.870000,1.0
4897,glorious,0.000008,0.000002,6.90,2,3.610000,4.443999,3.610000,1.0
4898,marvelous,0.000009,0.000009,7.21,3,3.866667,5.284846,3.866667,1.0
4899,superb,0.000011,0.000012,7.00,1,4.600000,5.027498,4.600000,1.0

In [63]:
from scipy import stats

stats.pearsonr(result['Distil'], result['Bert'])

(0.5801741471903881, 0.0)

In [70]:
stats.spearmanr(result['Distil'], result['Bert'])

SpearmanrResult(correlation=0.5475496223485748, pvalue=0.0)

In [64]:
stats.pearsonr(result['Distil'], result['Gold'])

(0.4556339766742851, 8.125295915232102e-250)

In [71]:
stats.spearmanr(result['Distil'], result['Gold'])

SpearmanrResult(correlation=0.4194593671658797, pvalue=4.064782680704163e-208)

In [65]:
stats.pearsonr(result['Mean Star'], result['Gold'])

(0.4102357890334047, 2.8205042755826915e-198)

In [72]:
stats.spearmanr(result['Mean Star'], result['Gold'])

SpearmanrResult(correlation=0.363128696247368, pvalue=1.2577785301344825e-152)

In [66]:
stats.pearsonr(result['FFN'], result['Gold'])

(0.6319108439975036, 0.0)

In [73]:
stats.spearmanr(result['FFN'], result['Gold'])

SpearmanrResult(correlation=0.6873307145137525, pvalue=0.0)

In [67]:
stats.pearsonr(result['avg(vad_eb.V)'], result['Gold'])

(0.39681887746596073, 1.6689978928783603e-184)

In [68]:
stats.pearsonr(result['avg(vad_eb.V)'], result['Mean Star'])

(0.96430409857462, 0.0)

In [33]:
data_distil

           Word    Distil
0       abusive -0.000018
1          claw -0.000015
2          foul -0.000014
3         widow -0.000013
4          suck -0.000013
...         ...       ...
5449  delighted  0.000008
5450   glorious  0.000008
5451       aqua  0.000008
5452  marvelous  0.000009
5453     superb  0.000011

[5454 rows x 2 columns]

In [36]:
data_bert

           Word          Bert  Gold  Frequency  Mean Star
0       torture -1.810000e-05  1.40          2   1.885000
1        murder -8.620000e-06  1.48          6   2.416667
2        racism -6.740000e-06  1.48          3   2.603333
3      homicide -6.670000e-06  1.50          4   2.600000
4         abuse -7.510000e-06  1.53         16   2.686250
...         ...           ...   ...        ...        ...
5449        fun  2.870000e-06  8.37         26   3.374231
5450  enjoyment  5.770000e-06  8.37          4   3.585000
5451      happy  3.020000e-06  8.47         24   3.342083
5452  happiness -1.380000e-06  8.48          2   3.100000
5453   vacation -3.360000e-07  8.53         13   3.190000

[5454 rows x 5 columns]

In [22]:
data_bert = data_bert[['Word', 'Value', 'V.Mean.Sum', 'Frequency', 'Mean Star']]

In [24]:
data_bert = data_bert.rename(columns={'Value': 'Bert'})

In [26]:
data_bert = data_bert.rename(columns={'V.Mean.Sum':'Gold'})

In [34]:
result = pd.merge(data_distil, data_bert, on=['Word'])

In [35]:
result

           Word    Distil      Bert  Gold  Frequency  Mean Star
0       abusive -0.000018 -0.000005  2.05          1   1.900000
1          claw -0.000015 -0.000013  4.65          1   2.100000
2          foul -0.000014 -0.000008  3.00          1   1.900000
3         widow -0.000013 -0.000009  2.28          1   1.880000
4          suck -0.000013 -0.000017  3.71          3   1.900000
...         ...       ...       ...   ...        ...        ...
5449  delighted  0.000008  0.000002  7.74          4   3.552500
5450   glorious  0.000008  0.000002  6.90          2   3.610000
5451       aqua  0.000008  0.000005  6.50          1   3.600000
5452  marvelous  0.000009  0.000009  7.21          3   3.866667
5453     superb  0.000011  0.000012  7.00          1   4.600000

[5454 rows x 6 columns]

In [5]:
data = pd.concat([data, pd.DataFrame(columns=['Frequency', 'Mean Star'])])

In [7]:
import transformers
tokenizer = transformers.BertTokenizer.from_pretrained('bert-base-uncased', do_lower_case=True)

emobank = pd.read_csv('data/emobank/emobank.csv')
for i in range(len(data['Word'])):
    word = data['Word'][i]
    fre = 0
    value = 0
    for k in range(len(emobank['essay'])):
        sent = emobank['essay'][k]
        if word in tokenizer.tokenize(sent):
            fre += 1
            value += emobank['V'][k]
    data['Frequency'][i] = fre
    data['Mean Star'][i] = value/fre

/Users/nil/anaconda3/envs/rating/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/nil/anaconda3/envs/rating/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

In [69]:
result.to_csv('total_V.csv')

In [12]:
from scipy import stats

print(stats.pearsonr(data['Value'], data['Mean Star']))
print(stats.pearsonr(data['Value'], data['V.Mean.Sum']))
print(stats.pearsonr(data['V.Mean.Sum'], data['Mean Star']))

(0.6521633411204067, 0.0)
(0.39144835538542905, 3.3623565646306646e-199)
(0.3893433633914151, 6.678108252266396e-197)

In [13]:
print(stats.spearmanr(data['Value'], data['Mean Star']))
print(stats.spearmanr(data['Value'], data['V.Mean.Sum']))
print(stats.spearmanr(data['V.Mean.Sum'], data['Mean Star']))

SpearmanrResult(correlation=0.6247007813818168, pvalue=0.0)
SpearmanrResult(correlation=0.35245565042770255, pvalue=2.805896213318129e-159)
SpearmanrResult(correlation=0.3513178578993308, pvalue=3.3997071940134655e-158)