### Concepts: http://tfidf.com/

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [7]:
vectorizer = TfidfVectorizer(use_idf=True) #tokenizer=fasttext check out https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.TfidfVectorizer.html

In [55]:
data = ['This moive is deep and meaningful.'] #data = yelp amazon nrc

In [56]:
scores = vectorizer.fit_transform(data)

In [59]:
df = pd.DataFrame(scores.T.todense(), 
                  index=vectorizer.get_feature_names(), 
                  columns=["scores"])
df.sort_values('scores', ascending=False, inplace=True)
df.reset_index(inplace=True)
df.rename(columns = {'index':'words'}, inplace = True)
print (df.head(100))

        words    scores
0         and  0.408248
1        deep  0.408248
2          is  0.408248
3  meaningful  0.408248
4       moive  0.408248
5        this  0.408248

In [47]:
scores = (scores.sum(axis=0) / scores.getnnz(axis=0))

In [64]:
df2 = df1.merge(df, how='outer', on='words')

In [68]:
df2[['scores_x', 'scores_y']]

   scores_x  scores_y
0  0.563551       NaN
1  0.471110  0.408248
2  0.471110  0.408248
3  0.471110  0.408248
4  0.443503       NaN
5  0.443503       NaN
6  0.443503       NaN
7  0.384514  0.408248
8  0.347793  0.408248
9  0.347793  0.408248

In [36]:
scores.todense()

matrix([[0.4711101 , 0.        , 0.35829137, 0.        , 0.4711101 ,
         0.35829137, 0.4711101 , 0.        , 0.27824521, 0.        ],
        [0.        , 0.44350256, 0.33729513, 0.44350256, 0.        ,
         0.33729513, 0.        , 0.33729513, 0.26193976, 0.44350256],
        [0.        , 0.        , 0.        , 0.        , 0.        ,
         0.        , 0.        , 0.78980693, 0.61335554, 0.        ]])

In [59]:
print(vectorizer.vocabulary_)

{'this': 8, 'moive': 6, 'is': 4, 'deep': 2, 'and': 0, 'meaningful': 5, 'read': 7, 'book': 1, 'in': 3, 'way': 9}

In [28]:
print(scores)

  (0, 5)	0.35829137488557944
  (0, 0)	0.4711101009983051
  (0, 2)	0.35829137488557944
  (0, 4)	0.4711101009983051
  (0, 6)	0.4711101009983051
  (0, 8)	0.2782452148327134
  (1, 9)	0.4435025580042657
  (1, 3)	0.4435025580042657
  (1, 1)	0.4435025580042657
  (1, 7)	0.33729512684167956
  (1, 5)	0.33729512684167956
  (1, 2)	0.33729512684167956
  (1, 8)	0.26193975520639246
  (2, 7)	0.7898069290660905
  (2, 8)	0.6133555370249717

In [61]:
vectorizer.get_feature_names_out()

array(['and', 'book', 'deep', 'in', 'is', 'meaningful', 'moive', 'read',
       'this', 'way'], dtype=object)