In [1]:
import numpy as np
import pandas as pd

data_org = pd.read_csv('./bert-master/data/test.csv')
data_pred = pd.read_csv('./bert-master/test_results.csv', header=None)

In [2]:
data_org['empathy']

0      4.000
1      4.000
2      3.500
3      4.667
4      3.833
       ...
367    1.000
368    1.000
369    1.000
370    1.000
371    1.000
Name: empathy, Length: 372, dtype: float64

In [3]:
data_pred['original'] = data_org['empathy']

In [4]:
data_pred

            0  original
0    2.899185     4.000
1    4.321848     4.000
2    4.425006     3.500
3    4.964096     4.667
4    5.046673     3.833
..        ...       ...
367  4.652876     1.000
368  4.246243     1.000
369  3.170999     1.000
370  3.169852     1.000
371  3.602979     1.000

[372 rows x 2 columns]

In [5]:
data_pred.corr(method='pearson')

                 0  original
0         1.000000  0.310472
original  0.310472  1.000000

In [19]:
data_train.to_csv('./bert-master/data/train1.csv', index=False)

In [20]:
data_train = pd.read_csv('./bert-master/data/train1.csv', )

In [24]:
data_test.to_csv('./bert-master/data/dev1.csv', index=False)